*.log
.DS_Store
node_modules
.cache
dist
docs
storybook-static
coverage
junit.xml

#webstorm
.idea/*

#vscode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace